/*===========================================================================
************************* UNIVERSAL CLASSES *********************************
===========================================================================*/

/* FONT EMBEDDING 
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.otf'); 
}
*/
/* MAIN WIDTH CONTAINER */
.app-container{
        margin: auto;
        width: 90%;
}

/* full container width */
.block {
    float: left;
    width: 100%;
}

body{
    font-family: "Roboto-Regular";
    margin: 0;
    color: white;
    background-image: url(../images/bg.png);
    background-color: #e5ddd5;

}

.clearfix{
    clear: both;
    display: block;
    content: "";
}

.center{
    text-align: center;
}


.f50{
    font-size: 50px;
    font-family: roboto;
}

.green{
    background: #006256;
}

.shadow{
    box-shadow: 0px 2px 15px #888888;
}

.border-bottom{
    border-bottom: 5px solid white;

}

.heading_color{
    color: #4a4a4a;
}

.text_color{
    color: #a3a3a3;
}
.P_M0{
    padding: 0;
    margin: 0;
}
.bg_none{
    background: none;
}

button {
    background: none;
    border: none;
    outline: none;
}
/*===========================================================================
************************* UNIVERSAL CLASSES *********************************
===========================================================================*/

/*----------------------------------------------------------------------------*/

/*===========================================================================
*****************************CUSTOM CLASSES ********************************
===========================================================================*/

.header{
    width: 100%;
    padding: 10px 0;
}

.whatsapp{
    width: 70%;
    float: left;
}

.icons{
    width: 30%;
    float: right;
    text-align: right;
}

.chats{
    width: 50%;
    float: left;
    padding-bottom: 15px;
}

.users{
    width: 50%;
    float: right;
    padding-bottom: 15px;
}

.icon_child{
    width: 25%;
    text-align: center;
    vertical-align: text-bottom;
    font-size: 40px;
}

.navigation{
    font-size: 25px;
    margin-top: 2%;
}

.navigation a{
    color: white;
    text-decoration: none;
}

.picture img{
    border-radius: 50%;
}

.user {
    padding: 20px 0px;
}

.picture{
    width: 6%;
    float: left;
    text-align: center;
}

.content {
    width: 91%;
    float: right;
    border-bottom: 1px solid #ededed;
    padding: 1% 0px 2% 0%;
}

.name {
    font-size: 27px;
}

.status {
    font-size: 20px;
}

.chatbox_parent {
    padding: 2% 0;
}

.chatbox{
    display: -webkit-box;
}

.addText{
    color: black;
    background: white;
    border-radius: 0px 6px 6px 6px;
    padding: 10px;
}

.inputBox{
    width: 99.5%;
    margin: 0 0.5% auto;
    bottom: 0;
    position: absolute;
    padding: 5px;
}

.input_parent {
    width: 95%;
    float: left;
}

.input{
    width: 100%;
    padding: 15px;
    border-radius: 23px;
    border: none;
    outline: none;
    color: black;
}

.send {
    width: 5%;
    float: right;
    text-align: right;
}

.send img{
    background: #006256;
    padding: 13px;
    border-radius: 25px;
}


/*===========================================================================
*****************************CUSTOM CLASSES ********************************
===========================================================================*/

/*----------------------------------------------------------------------------*/

/*===========================================================================
***************************** MEDIA QUERY ********************************
===========================================================================*/

@media only screen and (max-width: 736px) {

}

@media only screen and (min-width:770px) and (max-width: 994px) {
 
}
/*===========================================================================
***************************** MEDIA QUERY ********************************
===========================================================================*/
